.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


.clearlist {
  list-style: none;
  padding-left: 0;
}


// Position
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Size
.size(@width; @height) {
  width: @width;
  height: @height;
}


// Color
.bg (@color) {
	background: @color;
}
.bg (@color, @opacity: 50%) {
	background: fadeout(@color, @opacity);
}


// Grid
.generate-width(@n: 1, @size: xs, @i: 12) {

  & when ( @size = xs ) {
    width: (@n * 100% / @i);
  }

  & when ( @size = md ) {
    @media (min-width: 760px) {
      width: (@n * 100% / @i);
    }
  }

  & when ( @size = lg ) {
    @media (min-width: 1200px) {
      width: (@n * 100% / @i);
    }
  }

}
