@font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;
@font-size-base: 14px;
@line-height-base: 24px;
@text-color: #283645;
@body-bg: #fff;

@link-color: #fff;
@link-hover-color: #d22856;