.btn {
  display: inline-block;
  padding: 8px 25px 11px;
  margin-bottom: 33px;
  font-size: @fz-large;
  font-weight: @fw-bold;
  color: @white;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  text-align: center;

  
  &:visited {
    color: @white;
    background: transparent;
    text-decoration: none;
  }
  &:hover,
  &:focus{
    background: @white;
    color: @pink;
    text-decoration: none;
  }
  &:active {
    .color(@pink, 70%);
    background: @white;
    text-decoration: none;
  }

  &--fixed {
    width: 100%;
    max-width: 281px;
  }
}

@media (min-width: 700px) {
  .btn {
    padding: 5px 25px 8px;
    font-size: 21px;
  }
  .btn--fixed {
    margin-bottom: 45px;
  }
}

@media (min-width: 992px) {
  .btn--fixed {
    margin-bottom: 67px;
    margin-left: 8px;
  }
}