.page-wrap {
  
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__nav-wrap {
    .generate-width(6, xs, 12);
    .generate-width(9, md, 12);
    
    float: right;
    text-align: right;
  }
}

.logo {
  .generate-width(6, xs, 12);
  .generate-width(3, md, 12);
}


.page-main {

}


.page-footer {
  &__contacts {
    .generate-width(12, xs, 12);
  }

  &__map {
    .generate-width(12, xs, 12);
  }

  &__list {
    .generate-width(12, xs, 12);
    .generate-width(5, md, 12);
  }
}

