.btn {
  display: inline-block;
  min-width: 281px;
  padding: 8px 25px 11px;
  margin-bottom: 31px;
  font-size: @fz-large;
  font-weight: @fw-bold;
  color: @white;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  text-align: center;

  
  &:visited {
    color: @white;
    background: transparent;
    text-decoration: none;
  }
  &:hover,
  &:focus{
    background: @white;
    color: @pink;
    text-decoration: none;
  }
  &:active {
    .color(@pink, 70%);
    background: @white;
    text-decoration: none;
  }
}