.effect {
  padding: 72px 0;

  &__caption {
    .text-font (30px, 36px, @fw-bold);
    margin-bottom: 10px;
    padding-right: 25px;
  }

  &__text a {
    text-decoration: underline;
  }
}