.intro {
	background: @base-color url(../img/bg__intro.png) 50% 0 no-repeat;


	&__container {
		position: relative;
		padding-top: 456px;
		text-align: center;
	}


	&__caption {
		position: absolute;
		width: 90%;
		top: 85px;
		margin: 0;
		padding: 0 5%;
		font-size: @fz-h3;
		line-height: @lh-caption;
		font-weight: @fw-light;
		color: @white;
	}


	&__desc {
		background: @base-color;
		padding: 26px 5% 18px;

		p {
			color: #fff;
		}
	}


	&__apps-list {
		&:extend(.clearlist);

		li {
			display: inline-block;
			margin: 0 16px;
		}
	}
}