.intro {
	background: @base-color url(../img/bg__intro.png) 50% 0 no-repeat;


	&__container {
		text-align: center;
	}


	&__caption {
		margin: 0;
		padding: 83px 0 336px;
		font-size: @fz-h3;
		color: #fff;
	}


	&__desc {
		background: @base-color;
		padding: 26px 22px;

		p {
			color: #fff;
		}
	}


	&__apps-list {
		padding: 0;

		li {
			display: inline-block;
			margin: 0 16px;
		}
	}
}