.page-header {
  .bg(#000,50%);


  &__container {
    .clearfix();
    padding: 10px 20px 16px;
  }
}

.page-caption {
  padding: 16px 0;
  font-size: @fz-page-caption;
  font-weight: @fw-light;
  line-height: 28px;
  text-align: center;
}

@media (min-width: @screen-md) {
  .page-caption {
    font-size: 40px;
}