

.page-footer__caption {
  padding-bottom: 10px;
  font-size: @fz-page-caption;
  font-weight: @caption-font-weight;
  line-height: @lh-caption;
}
.page-footer__contacts {
  position: relative;
  text-align: center;
  z-index: 5;
}
.page-footer__list {
  display: inline-block;
  text-align: center;
  margin-top: 5px;

  dt {
    font-weight: 700;
    font-size: @fz-large;
  }
  dd {
    margin-left: 0;
    font-weight: @caption-font-weight;
    font-size: @fz-h3;
    line-height: @lh-caption;
    color: @pink;
  }
}

.page-footer__map {
  height: 230px;
  background: @grey url(../img/map.png) 50% 75% no-repeat;

  // @media (min-width: @screen-md) {
  //   height: 370px;
  //   background: @grey url(../img/map.png) 50% 100% no-repeat;
}


@media (min-width: @screen-md) {
  .page-footer__caption {
    font-size: 40px;
  }
  .page-footer__map {
    height: 370px;
    background: @grey url(../img/map.png) 50% 100% no-repeat;
  }
}