

.page-footer__caption {
  .big-caption();
  padding-bottom: 7px;
}
.page-footer__contacts {
  position: relative;
  text-align: center;
  z-index: 5;
}
.page-footer__list {
  display: inline-block;
  text-align: center;
  margin-top: 5px;

  dt {
    .text-font(@fz-h4, ((@lh-caption) + 1), @fw-bold);
  }
  dd {
    .big-caption;
    margin-left: 0;
    color: @pink;
  }
  &:last-child {
    margin-top: 9px;
  }
}


.page-footer__map {
  height: 225px;
  background: @grey url(../img/map.png) 50% 75% no-repeat;

  // @media (min-width: @screen-md) {
  //   height: 370px;
  //   background: @grey url(../img/map.png) 50% 100% no-repeat;
}


@media (min-width: 700px) {
  .page-footer__caption {
    .text-font (40px, 48px, @fw-light);
  }
  .page-footer__map {
    height: 370px;
    background: @grey url(../img/map.png) 50% 100% no-repeat;
  }
}

@media (min-width: 1100px) { 
  .page-footer__caption {
    .text-font (50px, 60px, @fw-light);
  }
}

