.price-table {
  width: 90%;
  margin: -43px auto 18px;

  &__caption {
    position: relative;
    width: 100%;
    background: #283645;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 15px;
    overflow: hidden;


    span {
      display: block;
      padding: 3px 0 5px;
      .big-caption;
    }
  }

  &__caption--flag {

    &:before {
      content: 'хит';
      position: absolute;
      left: -33px;
      top: 13px;
      height: 29px;
      width: 115px;
      background: #d22856;
      margin: auto;
      line-height: 28px;
      vertical-align: middle;
      transform: rotate(-45deg);
      overflow: hidden;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__caption--null {
    background: transparent;
  }

  th {
    width: 25%;
    border-right: 2px solid @white;
    border-left: 2px solid @white;
  }

  td {
    border: 2px solid #f2f2f2;
    padding: 13px 25px 16px;
    font-size: 14px;
    background: @white;
    text-transform: uppercase;
    line-height: 30px;
    vertical-align: middle;
    
    .check {
      float: right;
      color: transparent;
      font: 0/0 a;
    }
  }

  .check > i {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: auto;
    vertical-align: middle;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }
  }

  .check > i:before {
    top: 13px;
    left: 4px;
    width: 35px;
    height: 2px;
    background: #f25b26;
    transform: rotate(-45deg);
  }
  .check > i:after {
    top: 13px;
    left: 3px;
    width: 35px;
    height: 2px;
    background: #f25b26;
    transform: rotate(-135deg);
  }

  .check > i.checked:after{
    top: 14px;
    left: 12px;
    width: 28px;
    height: 2px;
    background: #3dc644;
    transform: rotate(-47deg);
  }
  .check > i.checked:before{
    top: 19px;
    left: 4px;
    width: 15px;
    height: 2px;
    background: #3dc644;
    transform: rotate(-132deg);
  }
}


.price-table--big {
  td {
    text-transform: none;

    .check {
      float: none;
    }
  }

  th {
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}



// .slider {
//     position: relative;
// }
// .slider-slides .slider__slide{
//   min-height:390px;
//   width:350px;
//   float:left;
//   background-color:#eee;
// }
// .slider-slides{
//   width:300%;
//   transition: transform .8s ease;
// }
// .slider-inner{
//   overflow:hidden;
// }
// .slider-controls{
//     position:absolute;
//     bottom:93px;
//     left:50%;
//     width:200px;
//     height:10px;
//     margin-left:-100px;
//     text-align:center;
//     z-index:5;
// }
// .slider-controls label{
//   display:inline-block;
//     width:4px;
//     height:4px;
//     margin:0 3px;
//     background:#fff;
//     border:3px solid #fff;
//     vertical-align:top;
//     cursor:pointer;
//     -webkit-border-radius:50%;
//        -moz-border-radius:50%;
//             border-radius:50%;
//   transition: background-color .2s;
// }
// input[id^="btn-"]{
//     display: none;
// }
// #btn-1:checked ~ .slider-controls label[for="btn-1"],
// #btn-2:checked ~ .slider-controls label[for="btn-2"],
// #btn-3:checked ~ .slider-controls label[for="btn-3"]{
//     background-color:#c1c1c1;
// }
// #btn-1:checked ~ .slider-inner .slider-slides{
//     transform:translate(0);
// }
// #btn-2:checked ~ .slider-inner .slider-slides{
//     transform:translate(-350px);
// }
// #btn-3:checked ~ .slider-inner .slider-slides{
//     transform:translate(-700px);
// }