.reviews {
  margin: 0;
  padding-top: 18px;
  text-align: center;

  &__author {
    .small-caption; 
    display: block;
    font-style: normal;
    padding-bottom: 13px;
  }

  &__text {
    line-height: 30px;
  }
}