.social {
  &:extend(.clearlist);
  margin: 10px 0;


  &__btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 3px solid #e9ebec;
    color: transparent;
    font: 0/0 a;
    border-radius: 50%;
  }
}