
.icon-android-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/android-logo.png');
  background-repeat: no-repeat;
  width: 42px;
  height: 8133px;
}


.icon-apple-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/apple-logo.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 3829px;
}


.icon-facebook {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/facebook.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 4293px;
}


.icon-glukhanko-down {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/glukhanko-down.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 24677px;
}


.icon-glukhanko-hvr {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/glukhanko-hvr.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 24677px;
}


.icon-glukhanko {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/glukhanko.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 24677px;
}


.icon-htmlacademy-down {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/htmlacademy-down.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 9205px;
}


.icon-htmlacademy-hvr {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/htmlacademy-hvr.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 9205px;
}


.icon-htmlacademy {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/htmlacademy.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 9205px;
}


.icon-logo-mob {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logo-mob.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 3221px;
}


.icon-logotype-blue-2 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logotype-blue-2.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 3877px;
}


.icon-logotype-blue-3 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logotype-blue-3.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 5141px;
}


.icon-logotype-white-1 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logotype-white-1.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 3253px;
}


.icon-logotype-white-2-hvr {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logotype-white-2-hvr.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 3877px;
}


.icon-logotype-white-2 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logotype-white-2.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 3877px;
}


.icon-logotype-white-3 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/logotype-white-3.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 5141px;
}


.icon-microsoft-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/microsoft-logo.png');
  background-repeat: no-repeat;
  width: 44px;
  height: 2053px;
}


.icon-quotes {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/quotes.png');
  background-repeat: no-repeat;
  width: 79px;
  height: 3061px;
}


.icon-smiley-1 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/smiley-1.png');
  background-repeat: no-repeat;
  width: 77px;
  height: 4165px;
}


.icon-twitter {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/twitter.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 9685px;
}


.icon-youtube {
  display: inline-block;
  vertical-align: middle;
  background-image: url('svg/png/youtube.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 3813px;
}

