
.icon-android-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/android-logo.png');
  background-repeat: no-repeat;
  width: 42px;
  height: 8133px;
}


.icon-apple-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/apple-logo.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 3829px;
}


.icon-facebook {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/facebook.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 4293px;
}


.icon-glukhanko {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/glukhanko.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 24453px;
}


.icon-htmlacademy {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/htmlacademy.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 8981px;
}


.icon-logo-mob {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/logo-mob.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 3189px;
}


.icon-microsoft-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/microsoft-logo.png');
  background-repeat: no-repeat;
  width: 44px;
  height: 2053px;
}


.icon-quotes {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/quotes.png');
  background-repeat: no-repeat;
  width: 79px;
  height: 3029px;
}


.icon-smiley-1 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/smiley-1.png');
  background-repeat: no-repeat;
  width: 77px;
  height: 4165px;
}


.icon-timer-2 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/timer-2.png');
  background-repeat: no-repeat;
  width: 261px;
  height: 1125px;
}


.icon-timer-3 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/timer-3.png');
  background-repeat: no-repeat;
  width: 298px;
  height: 933px;
}


.icon-twitter {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/twitter.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 9685px;
}


.icon-youtube {
  display: inline-block;
  vertical-align: middle;
  background-image: url('png-grunticon/youtube.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 3813px;
}

