
.icon-android-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/android-logo.png');
  background-repeat: no-repeat;
  width: 42px;
  height: 47px;
}


.icon-apple-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/apple-logo.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 57px;
}


.icon-facebook {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/facebook.png');
  background-repeat: no-repeat;
  width: 9px;
  height: 19px;
}


.icon-glukhanko-down {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/glukhanko-down.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 30px;
}


.icon-glukhanko-hvr {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/glukhanko-hvr.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 30px;
}


.icon-glukhanko {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/glukhanko.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 30px;
}


.icon-htmlacademy-down {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/htmlacademy-down.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 34px;
}


.icon-htmlacademy-hvr {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/htmlacademy-hvr.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 34px;
}


.icon-htmlacademy {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/htmlacademy.png');
  background-repeat: no-repeat;
  width: 26px;
  height: 34px;
}


.icon-logo-mob {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logo-mob.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 23px;
}


.icon-logotype-blue-2 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-blue-2.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}


.icon-logotype-blue-3 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-blue-3.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}


.icon-logotype-white-1 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-1.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 23px;
}


.icon-logotype-white-2-hvr {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-2-hvr.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}


.icon-logotype-white-2 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-2.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}


.icon-logotype-white-3 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-3.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}


.icon-microsoft-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/microsoft-logo.png');
  background-repeat: no-repeat;
  width: 44px;
  height: 42px;
}


.icon-quotes {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/quotes.png');
  background-repeat: no-repeat;
  width: 79px;
  height: 64px;
}


.icon-smiley-1 {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/smiley-1.png');
  background-repeat: no-repeat;
  width: 77px;
  height: 77px;
}


.icon-twitter {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/twitter.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
}


.icon-youtube {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/youtube.png');
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
}

